.container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.container__text-score {
    width: 20%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.text-score__span-left {
    position: absolute;
    left: 0;
}

.text-score__span-right {
    position: absolute;
    right: 0;
}

.container__message {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    animation-duration: .8s;
    animation-name: flash;
    animation-iteration-count: infinite;
}
 @keyframes flash {
   0%   { opacity:1; }
   40%   {opacity:0; }
   100% { opacity:1; }
}

.container__form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form__label-input {
    margin-bottom: 1rem;
}

.form__input-number {
    padding: 0.3rem;
    margin-bottom: 0.7rem;
    text-align: center;
}

.form__button, .form__button-reset {
    padding: 0.7rem;
    margin-bottom: 0.7rem;
}

.form__button-reset {
    color: #ffff;
    background-color: rgb(173, 0, 35);
}