@font-face {
    font-family: 'permanent_markerregular';
    src: url('./fonts/PermanentMarker-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./img/background.jpg");
    background-size: cover;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.container__div-top {
    width: 60%;
    height: 30%;
    position: relative;
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-around;
    background-color: transparent;
}



.div-middle__div-gif-special-attack,
.div-middle__div-gif-attack {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.div-gif-attack__img-attack,
.div-gif-attack__img-special-attack {
    width: 500px;
    transition: all 0.6s ease-out;
}

.div-top__div-player,
.div-top__div-monster {
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 0.1rem black solid;
    text-align: center;
    font-weight: 700;
}

.div-top__div-player {
    position: relative;
}

.div-player__gif-health {
    width: 100%;
    position: absolute;
    display: none;
}

.div-monster__progress-bar-container-monster, 
.div-player__progress-bar-container-player {
    width: 100%;
    height: 1.2rem;
    background-color: rgb(206, 206, 206);
}
.div-player__progress-bar-player,
.div-monster__progress-bar-monster {
    width: 100%;
    height: 100%;
    background-color: green;
    transition: all 0.6s ease-out;
}

.progress-bar-monster__p,
.progress-bar-player__p {
    text-align: center;
    font-size: 1rem;
    margin: 0;
}

.container__div-middle,
.container__div-middle-start {
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(77, 77, 77, 0.706);
    
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: rgba(83, 30, 105, 0.88);
}

.container__div-middle {
    display: none;
    position: relative;
    height: 7rem;
}

.container__div-middle-start {
    display: flex;
    height: 30%;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    flex-direction: column;
}

.div-middle-start__title {
    font-size: 2.8rem;
    font-weight: 600;
    font-family: 'permanent_markerregular';
    color: #ffff;
    margin: 0 auto;   
}

.div-middle-start__span-title {
    background-image: url("https://dl.dropbox.com/s/r2s8s2r17wi0xm6/flame.png?dl=0");
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fire 6s infinite linear;
}

.div-middle-start__welcome {
    margin: 0.7rem auto;
    color: #ffffff;
    font-family: calibri, Verdana, Geneva, Tahoma;

}

.div-rules__p {
    width: 85%;
    list-style: none;
    color: #ffff;
    font-family: calibri, Verdana, Geneva, Tahoma;
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    margin: 0.4rem auto;
}

.div-middle__button-start {
    margin: 0.7rem auto;
}

button {
    padding: 1rem;
    border: none;
    background-color: #ffff;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background-color: #ffffffc6;
}

.container__div-bottom {
    width: 60%;
    box-shadow: 5px 5px 5px rgba(77, 77, 77, 0.706);
    background-color: rgba(83, 30, 105, 0.88);
    text-align: center;
    color: #ffff;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgb(102, 8, 120);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__container {
    position: relative;
    padding: 2rem 8rem;
    background-color: rgb(102, 8, 120);
    border-radius: 1.8rem;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-name: flash;
}

.modal__p {
    color: #ffff;
    font-family: 'permanent_markerregular';
    text-align: center;
    font-size: 4rem;
}

.modal__cross {
    width: 2rem;
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.modal__gif {
    display: none;
    
    width: 400px;
}

@keyframes flash {
    0%  { opacity:1; }
    20% {opacity:0; }
    30% {opacity:1; }
    70% {opacity:0; }
    90% { opacity:1; }
}

@keyframes fire {
    0% {
      background-position: 0% -50%;
    }
    100% {
      background-position: 0% -20%;
    }
  }
  